<%- include ../partials/header %> <%- include ../partials/categoriesNavbar %>

<div class="container">
    <!-- Flash messages -->
    <div class="row mt-3 mb-3">
      <div class="col-md-12 m-auto">
        <% if (successMsg) { %>
        <div id="success" class="alert alert-success">
          <%= successMsg %>
        </div>
        <% } else { %>
        <div id="success" class="alert alert-success d-none"></div>
        <% } %>
      </div>
      <div class="col-md-12 m-auto">
        <% if (errorMsg) { %>
        <div id="error" class="alert alert-danger">
          <%= errorMsg %>
        </div>
        <% } else { %>
        <div id="error" class="alert alert-danger d-none"></div>
        <% } %>
      </div>
    </div>
    
  <!-- Contents -->
  <div class="row">
    <% products.forEach((product) => { %>
    <div
      class="col-lg-4 col-md-4 col-sm-6 col-xs-12 p-1 d-flex align-items-stretch"
    >
      <div class="card m-3">
        <a
          class="title-link"
          href="/products/<%=product.category.slug%>/<%=product._id%>"
        >
          <img
            src="<%= product.imagePath %>"
            alt="Bag"
            class="card-img-top img-fluid"
        /></a>
        <div class="card-body d-flex flex-column">
          <a
            class="title-link"
            href="/products/<%=product.category.slug%>/<%=product._id%>"
          >
            <h6 class="card-title text-center"><%= product.title %></h6></a
          >
          <div class="price text-center">$<%= product.price %></div>

          <% if(product.available) {%>
          <a
            href="/add-to-cart/<%=product._id%>"
            class="btn btn-block btn-secondary mt-auto button-style"
          >
            Add to Shopping Cart
          </a>
          <% } else { %>
          <a href="#" class="btn btn-block btn-danger button-style-danger">
            Unavailable
          </a>
          <%} %>
        </div>
      </div>
    </div>
      <% }) %>
    </div>
    <%- include ../partials/pagination %>
  </div>
  <%- include ../partials/footer %>
</div>
